/* Empty. Add your own CSS if you like */
md-card {
	padding: 0px !important;
}
div {
	padding: 0px !important;
}

/*@media all and (min-width: 501px) {
	#bgirl11 {
		background: url('../img/bgirl11.jpg');
		width:100px;
		height:131px;
	}
}

@media all and (max-width: 501px) {
	#bgirl11 {
		background: url('../img/bgirl11.jpg');
		width:100px;
		height:131px;
	}
}*/
.img-prop {
	margin-left: -50px;
	float: left;
}
.button-div {
	color: rgba(255,255,255,0.87);
 	background-color: #1955AD;
 	height: 30px;
  	padding: 5px !important;
  	border-radius: 5px;
}
.reclaim-div {
	color: rgba(255,255,255,0.87);
 	background-color: #63AE26;
 	height: 55px;
  	padding: 5px !important;
  	border-radius: 5px;
  	margin-bottom: 10px;
}
#girl2, #girl1, #girl9, #girl6 {
	height: 100px !important;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%)
}
#girl10{
	height: 51px !important;
	-webkit-filter: grayscale(100%);
}
#gir5 {
	height:100px !important;
}
#girl4, #girl7, #gir5 {
	min-width: 100% !important;
}
#bgirl11 {
	height: 131px !important;
	-webkit-filter: grayscale(100%);
}
#girl8, #logo, #girl7, #girl4 {
	height: 75px !important;
}


@font-face {
    font-family: 'custom';
    src: url('fonts/Kingthings.ttf');
}
p {
	font-family: custom;
}


#slideshow .slide{position:absolute; height:320px; width:320px;}